@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);
/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0;}

/** Basic styling */
body { font: 400 20px/1.5 "Cutive Mono", "Courier New", "Helvetica Neue", Helvetica, FangSong, STFangsong, sans-serif; color: #111; background-color: #fff; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, table { margin-bottom: 0.5rem; }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Gallery */
div.gallery {
  border: 2px solid #ccc;
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right:auto;
}

div.gallery:hover {
  border: 2px solid #777;
}

div.gallery img {
  width: 100%;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-size: 1.125rem;
}

/** Figures */
figure > img { display: block; }

figcaption { font-size: 0.875rem; }

/** Lists */
ul, ol { margin-left: 2rem; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

/** Links */
a { color: #2a7ae2; text-decoration: none; }
a:hover { text-decoration: underline; }

/** Blockquotes */
blockquote { color: #828282; padding-left: 1rem; border-left: 2px solid #e8e8e8; font-style: italic; font-size: 0.875rem; }
blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { background-color: #fcfcfc; }

code { padding: 1px 5px; font-family: "Courier New", Consolas, monopace, FangSong, STFangsong; }

pre { padding: 8px 12px; overflow-x: auto; border-left: 2px solid #e8e8e8; }
pre > code { border: 0; padding-right: 0; padding-left: 0; tab-size: 4; }

/** Table */
table { width: 100%; max-width: 100%; border-collapse: separate; border-spacing: 0; table-layout: fixed; }

th, td { padding: 0.5rem; line-height: inherit; }

th { text-align: left; vertical-align: bottom; border-bottom: 2px solid #e8e8e8; }

td { vertical-align: top; border-bottom: 1px solid #e8e8e8; }

/** Horizontal rule */
hr { width: 50%; border: none; border-top: 2px solid #b1cef4; margin: 2rem auto; }

/** Clearfix */
/** Site header */
.site-header { border-bottom: 1px solid #e8e8e8; text-align: center; padding: 1rem 0; }

.site-title { font-size: 2rem; font-weight: 300; letter-spacing: -1px; color: #424242; }
.site-title, .site-title:hover { text-decoration: none; }

/** Page content */
.page-content { position: relative; max-width: 48rem; padding: 0.5rem 1.5rem; margin: 0 auto; box-sizing: border-box; }

/** Pages */
.home section + section { margin-top: 2rem; }

.smallcap { text-transform: lowercase; font-variant: small-caps; }
.smallcap::first-letter { text-transform: uppercase; }

.post-list > li { margin-bottom: 1.5rem; }
@media screen and (max-width: 600px) { .post-list > li span { display: block; font-size: 0.875rem; } }

/** Posts */
.post-header { margin-bottom: 2rem; }

.post-title { font-size: 1.5rem; letter-spacing: -1px; line-height: 0; }

.post-meta { font-size: 0.875rem; color: #828282; }

.post-content { margin-bottom: 0.5rem; }
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 { margin-top: 2rem; }
.post-content h1, .post-content h2 { font-size: 2rem; }
.post-content h3 { font-size: 1.5rem; }
.post-content h4 { font-size: 1.25rem; }
.post-content h5, .post-content h6 { font-size: 1rem; }
